
<div class="jumbotron">
    <h1>Nieprawidłowy Token!</h1>
    <p class="lead">Twój token nie jest obsługiwany przez nasz system albo został już użyty!</p>
    @Html.ActionLink("Powrót", "Index", "Home",new { @class = "btn btn-info" })
</div>
