<div class="jumbotron">
    <h1>Wybory prezydenckie</h1>
    <p class="lead">Dziękujemy za oddany głos.</p>
    @Html.ActionLink("Powrót", "Index", "Home", new { @class = "btn btn-info" })
</div>
